@{
    ViewData["Title"] = "Resultado del Envío";
    Layout = "~/Views/Shared/LayoutMaster.cshtml";
}

<div class="container mt-5" style="color:darkred">
    <div class="alert alert-info text-center" style="color:whitesmoke">
        <h4>@ViewBag.Mensaje</h4>
        <a href="/Home/Index" class="btn btn-secondary mt-3 text-white">Volver a Inicio</a>
    </div>
</div>